@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "IRANSansWebfanum";
  src: url("../_fonts/IRANSansWeb(FaNum).eot");
  src: url("../_fonts/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansWeb(FaNum).woff") format("woff"),
    url("../_fonts/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("../_fonts/IRANSansWeb(FaNum).ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWebfanum";
  src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../_fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
    url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "YekanBakh400";
    src: url("../fonts/Yekan\ Bakh\ FA\ 04\ Regular.eot");
    src: url("../fonts/Yekan\ Bakh\ FA\ 04\ Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/Yekan\ Bakh\ FA\ 04\ Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "YekanBakh700";
    src: url("../fonts/Yekan\ Bakh\ FA\ 06\ Bold.eot");
    src: url("../fonts/Yekan\ Bakh\ FA\ 06\ Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/Yekan\ Bakh\ FA\ 06\ Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "IRANSansWeb500";
    src: url("../_fonts/IRANSansWeb_Medium.eot");
    src: url("../_fonts/IRANSansWeb_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb_Medium.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb400";
    src: url("../_fonts/IRANSansWebRegular.eot");
    src: url("../_fonts/IRANSansWebRegular.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWebRegular.woff") format("woff"),
      url("../_fonts/IRANSansWebRegular.woff2") format("woff2"),
      url("../_fonts/IRANSansWebRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb300";
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb700";
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "YekanBakh400";
    src: url("../_fonts/YekanBakh-Regular.eot");
    src: url("../_fonts/YekanBakh-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/YekanBakh-Regular.woff") format("woff"),
      url("../_fonts/YekanBakh-Regular.woff2") format("woff2"),
      url("../_fonts/YekanBakh-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "YekanBakh700";
    src: url("../_fonts/Yekan Bakh FA 06 Bold.eot");
    src: url("../_fonts/Yekan Bakh FA 06 Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/Yekan Bakh FA 06 Bold.woff") format("woff"),
      url("../_fonts/Yekan Bakh FA 06 Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  *{
  
    font-family: "IRANSansWeb500";
  }
  h1{
    font-size: 18px;
    font-family: "IRANSansWeb700";
    line-height: 26px;
  }
  h2 , h3{
    font-size: 16px;
    font-family: "IRANSansWeb500";
    line-height: 25px;
  }
  h4 , h5{
    font-size: 14px;
    font-family: "IRANSansWeb500";
    line-height: 24px;
  }
  h6{
    font-size: 12px;
    font-family: "IRANSansWeb300";
    line-height: 22px;
  }


.ProjectShowMobile .swiper-pagination-progressbar-fill,
.SearchMobile .swiper-pagination-progressbar-fill{
  background-color: #F26737 !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}

.collapse.show{
    visibility: visible;
  }
  



  
.serviceShow .swiper-button-disabled .arrPath{
    opacity: 0.5;
  }
  
  
  
  .serviceShow .share .share__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  .serviceShow .share svg{
    stroke: #F26737;
  }
  .serviceShow .share .social-link {
    height: 30px;
    width: 30px;
    position: absolute;
    cursor: pointer;
  }
  /* .serviceShow .share .share__wrapper {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  .serviceShow .share .toggle-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .serviceShow .share .toggle-button:focus {
    outline: 0;
  }
  .serviceShow .share .toggle-button:before,
  .serviceShow .share .toggle-button:after {
    content: "";
    position: absolute;
  }
  .serviceShow .share .toggle-button:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
  }
  .serviceShow .share .toggle-button--active:after {
  }
  .serviceShow .share .social-link {
    visibility: hidden;
    border-radius: 50%;
    transition: all 0.1s ease;
  }
  .serviceShow .share .social-link:nth-child(1) {
    left: 80px;
  }
  .serviceShow .share .social-link:nth-child(2) {
    left: 120px;
  }
  .serviceShow .share .social-link:nth-child(3) {
    left: 160px;
  }
  .serviceShow .share .share__wrapper--active .social-link {
    visibility: visible;
    animation: 0.1s left forwards;
  }
  .serviceShow
    .share
    .share__wrapper--active
    .social-link:nth-child(1) {
    animation-delay: 0.075s;
  }
  .serviceShow
    .share
    .share__wrapper--active
    .social-link:nth-child(2) {
    animation-delay: 0.05s;
  }
  @keyframes shareClose {
    0% {
      opacity: 0;
      transform: rotateY(0);
    }
    100% {
      opacity: 1;
      transform: rotateY(360deg);
    }
  }
  @keyframes left {
    50% {
      transform: translateX(-170%);
    }
    100% {
      opacity: 1;
      transform: translateX(-130%);
    }
  }
  @keyframes right {
    0% {
      transform: translateX(-130%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(0);
      left: 0;
    }
  }
  .serviceShow .share body {
    width: 100vw;
    height: 100vh;
    background: #34393f;
  }
  .serviceShow .share .visually-hidden {
    position: absolute;
    left: 9999px;
    width: 1px;
    height: 1px;
  }
  .serviceShow .share ul,
  .serviceShow .share li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .serviceShow .share button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
  } /*# sourceMappingURL=share.css.map */
  
  
  .card-header{
    background-color: transparent;
  }
  .serviceShow .accordion .card-header button::before {
    content: "";
    display: inline-block;
    width:21px;
    height: 1px;
    background-color: black;
    transition: 0.5s;
  }
  .serviceShow .accordion .card-header button {
    display: flex;
    align-items: center;
  }
  .serviceShow .accordion .card-header button:focus {
    outline: none;
  }

    .serviceShow .accordion .card-header p{
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
  .serviceShow .accordion .card-header p::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    /* transform: translateY(4px); */
    border-radius: 50%;
    background-color: black;
    transition: 0.5s;
  }
  .serviceShow .accordion .card-header button[aria-expanded=true]::before {
    /* width: 87px; */
    background-color: #F26737;
  }
  .serviceShow .accordion .card-header button[aria-expanded=true] p::before {
    background-color: #F26737;
  }
  
  .serviceShow .accordion:nth-child(1) .card-header{
  border-top: 1px solid rgba(0,0,0,.125);
  }


  
.mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 46px;
    width: 46px;
    overflow: hidden;
    position: relative;
  }
  
  .move {
    position: absolute;
    background-color: #fff;
    height: 8px;
    width: 4px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-50%, 10px);
      opacity: 0;
    }
    50% {
      transform: translate(-50%, 40px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 80px);
      opacity: 0;
    }
  }
  

  .swiper-button-disabled .arrowPath{
    opacity: 0.5;
  }


  
.news .social-link path {
  stroke: #2e3192;
}

.news .share__wrapper {
  position: relative;
}

.news .social-link {
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
  top: -6px;
}

.news .share__wrapper {
  /* top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.news .share__wrapper--open-left {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news .toggle-button {
  position: relative;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.news .toggle-button:focus {
  outline: 0;
}

.news .toggle-button:before,
.news .toggle-button:after {
  content: "";
  position: absolute;
}

.news .toggle-button:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.news .toggle-button--active:after {
}

.news .social-link {
  visibility: hidden;
  transition: all 0.1s ease;
}

.news .social-link:nth-child(1) {
  left: -80px;
}

.news .social-link:nth-child(2) {
  left: -40px;
}

.news .social-link:nth-child(3) {
}

.news .share__wrapper--active .social-link {
  visibility: visible;
  animation: 0.1s left forwards;
}

.news .share__wrapper--active .social-link:nth-child(1) {
  animation-delay: 0.075s;
}

.news .share__wrapper--active .social-link:nth-child(2) {
  animation-delay: 0.05s;
}

@keyframes shareClose {
  0% {
    opacity: 0;
    transform: rotateY(0);
  }

  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

@keyframes left {
  50% {
    transform: translateX(-170%);
  }

  100% {
    opacity: 1;
    transform: translateX(-130%);
  }
}

@keyframes right {
  0% {
    transform: translateX(-130%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(0);
    left: 0;
  }
}


.news .para span{
  font-family: "IRANSansWeb700";

font-size: 14px;
font-weight: 300;
line-height: 21.91px;
text-align: justify;


}

.faNum {
  font-family: "IRANSansWeb" !important;
}

.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}


.relatedNewsScrollBar .swiper-scrollbar-drag{
background-color: #F26737;
}
.relatedNewsScrollBar{
  width: 231px!important;
  position: relative!important;
  left: 0;
  margin: 0 auto;
  right: 0;
  height: 3px!important;  
  background-color: #BCBDBD;
  margin-top: 50px;
}
.relatedProCatScrollBar .swiper-scrollbar-drag{
background-color: #F26737;
}
.relatedProCatScrollBar{
  width: 231px!important;
  left: 0;
  margin: 0 auto;
  right: 0;
  height: 3px!important;  
  background-color: #BCBDBD;
}
.relatedProjectScrollBar .swiper-scrollbar-drag{
background-color: #F26737;
}
.relatedProjectScrollBar{
  width: 231px!important;
  left: 0;
  margin: 0 auto;
  right: 0;
  height: 3px!important;  
  background-color: #BCBDBD;
}
.relatedProjectsScrollBar .swiper-scrollbar-drag{
background-color: #F26737;
}
.relatedProjectsScrollBar{
  width: 231px!important;
  left: 0;
  margin: 0 auto;
  right: 0;
  height: 3px!important;  
  background-color: #BCBDBD;
}

.newsList .filters .activeList p{
  color: #1E1E1E;
}
.newsList .filters .activeList{
  box-shadow: 0px 5px 13px -5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 5px 13px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 13px -5px rgba(0,0,0,0.3);

}

.catBox:hover{
background-color: #BCBDBD;
}
.catBox:hover h2{
color: white;
}

.activeSchema {
  transform: scaleY(1) !important;
}

.schemaList {
  transition: 1s ease-out;
}

.swiper-button-disabled .disPath{
opacity: 0.5;
}








.productShow .section1 .share .share__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.productShow .section1 .share svg{
  stroke: #2E3192;
}
.productShow .section1 .share .social-link {
  height: 30px;
  width: 30px;
  position: absolute;
  cursor: pointer;
}
/* .productShow .section1 .share .share__wrapper {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.productShow .section1 .share .toggle-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.productShow .section1 .share .toggle-button:focus {
  outline: 0;
}
.productShow .section1 .share .toggle-button:before,
.productShow .section1 .share .toggle-button:after {
  content: "";
  position: absolute;
}
.productShow .section1 .share .toggle-button:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.productShow .section1 .share .toggle-button--active:after {
}
.productShow .section1 .share .social-link {
  visibility: hidden;
  border-radius: 50%;
  transition: all 0.1s ease;
}
.productShow .section1 .share .social-link:nth-child(1) {
  left: 7px;
  bottom: 50px;
}
.productShow .section1 .share .social-link:nth-child(2) {
  left: 7px;
  bottom: 20px;
}
.productShow .section1 .share .social-link:nth-child(3) {
  left: 7px;
  bottom: -10px;
}
.productShow .section1 .share .share__wrapper--active .social-link {
  visibility: visible;
  animation: 0.1s left forwards;
}
.productShow
  .section1
  .share
  .share__wrapper--active
  .social-link:nth-child(1) {
  animation-delay: 0.075s;
}
.productShow
  .section1
  .share
  .share__wrapper--active
  .social-link:nth-child(2) {
  animation-delay: 0.05s;
}
@keyframes shareClose {
  0% {
    opacity: 0;
    transform: rotateY(0);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
@keyframes left {
  50% {
    transform: translateY(-170%);
  }
  100% {
    opacity: 1;
    transform: translateY(-130%);
  }
}
@keyframes right {
  0% {
    transform: translateY(-130%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
    left: 0;
  }
}
.productShow .section1 .share body {
  width: 100vw;
  height: 100vh;
  background: #34393f;
}
.productShow .section1 .share .visually-hidden {
  position: absolute;
  left: 9999px;
  width: 1px;
  height: 1px;
}
.productShow .section1 .share ul,
.productShow .section1 .share li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.productShow .section1 .share button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
} /*# sourceMappingURL=share.css.map */

.star-rating {
  direction: rtl;
  display: inline-block;
  cursor: default;
}
.star-rating input[type="radio"] {
  display: none;
}
.star-rating label {
  color: #e4e4e7;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #f9cf66;
}

.productShow .info1 .lSec {
  box-shadow: 0px 2px 31px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 31px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 31px -6px rgba(0, 0, 0, 0.2);
}

.pause {
  opacity: 1;
}

.play {
  opacity: 0;
  display: none;
}


.productShow .swiper-button-disabled svg{
  opacity: 0.5;
  cursor: auto;
}


.collapse.show{
  visibility: visible;
}



.productShow .accordion .card-header {
  background-color: transparent;
}
.productShow .accordion .card-header p {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.productShow .accordion .card-header button::before {
  content: "";
  display: inline-block;
  width: 67px;
  height: 1px;
  background-color: black;
  transition: 0.5s;
}
.productShow .accordion .card-header button {
  display: flex;
  align-items: center;
}
.productShow .accordion .card-header button:focus {
  outline: none;
}
.productShow .accordion .card-header p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  transition: 0.5s;
}
.productShow .accordion .card-header button[aria-expanded=true]::before {
  width: 87px;
  background-color: #F26737;
}
.productShow .accordion .card-header button[aria-expanded=true] p::before {
  background-color: #F26737;
}

.productShow .Project:hover .Title-2 p{
color: white;
}


<<<<<<< HEAD
.codeinputm{
  background-color: transparent;
=======

.brandpagination .swiper-pagination-bullet{
width: 5px;
height: 5px;
background-color: #E4E4E7;
transition: 0.5s ;
opacity: 1;
}
.brandpagination .swiper-pagination-bullet-active{
  width: 7px;
  height: 7px;
  background-color: #1E293B;
}

.brandpagination{
  margin-top:  24px!important;
}


.home .listSlider::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 1px;
  background-color: black;
  margin-left: 14px;
  transform-origin: left;
  transition: 0.5s;
}

.home .listSlider.activeList::before {
  transform: scaleX(1.3);
  background-color: #f26737;
  height: 2px;
}

.home .listSlider.activeList span {
  color: #f26737;
}


.home .section1 .swiper-pagination-bullet {
  width: 45px;
  height: 3px;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}
.home .section1 .swiper-pagination{
  position: relative!important;
}
.home .section1 .swiper-pagination-bullet::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home .section1 .swiper-pagination-bullet-active {
  background: #d9d9d9;
}

.home .section1 .swiper-pagination-bullet-active::before {
  background-color: #f26737;
  animation: slide-progress 4s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

.home .section1 .swiper-paused .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}

.home .section1 .swiper-slide-active img,
.home .section1 .swiper-slide-active .sliderTitle {
  transform: scale(1);
  opacity: 1;
}

.home .section1 .swiper-slide-active .sliderTitle {
  transition-delay: 0.5s;
}

@keyframes slide-progress {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}



.productList .external-dropdown {
  position: relative;
}
.productList .external-dropdown .dropdown, .productList .external-dropdown .dropup {
  position: static;
}
.productList .outer {
  display: flex;
  overflow-x: auto;
}
.productList .side:nth-child(1) .dropdown-menu , .productList .side:nth-child(2) .dropdown-menu{
  left: unset!important;
  right: 10px;
}

.productList .side .dropdown-menu a{
color: #FFFFFF80!important;
}
.productList .side .dropdown-menu{
  transform: translateY(-5px);
  border: none;
>>>>>>> c665b987545315965fcc3137862c247d27cfa515
}